<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <th:block th:include="common::links"></th:block>


</head>
<body>

    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">Home</a>
            </li>

            <li class="active">main</li>
        </ul><!-- .breadcrumb -->

        <div class="page-content">
            <div class="page-header">
                <h1>
                    Treeview
                    <small>
                        <i class="icon-double-angle-right"></i>
                        with selectable items(single &amp; multiple) and custom icons
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <h2 th:text="${test}"></h2>
                </div>
            </div>
        </div>


    </div>


<th:block th:include="common::scripts"></th:block>
</body>
</html>